.project-container{
    width: 100%;
    min-height: 90vh;
    background-color:rgba(0, 0, 0, 0.8);
    position: relative;

}

.project-container h1{
    text-align: center;
    color: #fff;
}

.project-container .project-row{
    margin: 0 4rem;
    width: 100%;
}



@media(max-width:360px){
    .project-container .project-row{
        margin: 0 1rem !important;
    }
}

@media(max-width:1024px){
    .project-container .project-row{
        margin: 0 2rem;
    }
}


