/* @import url('https://fonts.googleapis.com/css2?family=MonteCarlo&display=swap'); */

.about-container{
    width: 100%;
    min-height: 90vh;
    background-color:rgba(0, 0, 0, 0.9);
    position: relative;
    z-index: -2;
}

.about-container h1{
    text-align: center;
    z-index: -1;
    color: #fff;
}


.img-container{
    margin: 2rem auto;
    display: flex;
    justify-content: center;
}

.about{
    margin: 4rem auto;
    display: flex;
    justify-content: center;
}

.about p{
    color: #fff;
    font-size: 20px;
    opacity: 0.65;
}

@media(max-width:768px){
    .about-container{
        min-height:100vh;
    }
    .img-container{
        margin-bottom: 1rem;
    }
    .img-container .about-img{
        width: 250px;
        height: 250px;
    }
    .about{
        margin: 1.5rem auto;
    }

    .about p{
        font-size: 15px;
    }
}

@media(max-width:1024px){
    .about-container{
        min-height:50vh;
    }
   
    .img-container{
        margin-bottom: 1rem;
    }
    .img-container .about-img{
        width: 250px;
        height: 250px;
    }
    .about{
        margin: 1.5rem auto;
    }

    .about p{
        font-size: 15px;
    }
}

@media(max-width:1366px){
    .about-container{
        min-height:35vh;
    }
}